[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".vim/bundle/vim-mutt-aliases-plugin"]
	path = .vim/bundle/vim-mutt-aliases-plugin
	url = https://github.com/niltonvasques/vim-mutt-aliases-plugin.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "gnome-terminal/dircolors-solarized"]
	path = gnome-terminal/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "gnome-terminal/base16-gnome-terminal"]
	path = gnome-terminal/base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule "gnome-terminal/base16-xfce4-terminal"]
	path = gnome-terminal/base16-xfce4-terminal
	url = https://github.com/chriskempson/base16-xfce4-terminal.git
