[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".vim/bundle/vim-mutt-aliases-plugin"]
	path = .vim/bundle/vim-mutt-aliases-plugin
	url = https://github.com/niltonvasques/vim-mutt-aliases-plugin.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
